.maincontainer {
    text-align: center;
    height: 50vh;
    border: 2px solid black;
    padding-top: 200px;
    background-color: darkorchid;
}

h1 {
    color: blue;
}

#ch {
    height: 5vh;
    width: 15vw;
    color: blueviolet;
}

button {
    height: 40px;
    width: 80px;
    border-radius: 10px;
    color: darkcyan;
}